body {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
#active {
  color: navy;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 25px;
  margin: 0;
  background-color: powderblue;
}
#grid ol {
  font-size: 17px;
  border-right: 2px solid powderblue;
  width: 130px;
  margin: 0;
  padding: 20px;
  padding-left: 40px;
  background-color: powderblue;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
#grid #article {
  padding-left: 15px;
  padding-right: 25px;
}
div {
  text-align: center;
}
ul {
  list-style: none;
  /*list앞에 점이나 숫자 안뜨게 none*/
}
/*
테이블삭제
table {
  margin-left: auto;
  margin-right: auto;
}*/
